/****** General ***********/
* {
  font-family: "Raleway", sans-serif;
}

body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px !important;
}

.main-container {
  width: 100%;
  margin: 0;
}

/*HEADER*/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 79px;
  padding: 0 20px;
}

nav a {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  height: 19px;
  width: 112px;
}

nav a:hover {
  border-top: 3px solid #0065fc;
  color: #0065fc;
  padding-top: 28px;
}

header nav a {
  margin-left: 20px;
  color: #333;
  background-color: #ffffff;
}

header nav a:hover {
  color: #0065fc;
}

.overline {
  text-decoration: overline;
  color: #0065fc;
}

/*SECTION RECHERCHE*/

.search-section {
  padding: 0 20px;
}

.search-section h1 {
  font-size: 22px;
  width: 100%;
}

.search-bar {
  display: flex;
  width: 377px;
  height: 49px;
  border-radius: 15px;
  border: 1px solid #ddd;
}

.search-bar .location {
  width: 50px;
  height: 49px;
  border: 1px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  background-color: #f2f2f2;
}

.search-bar .location .fa-location-dot {
  display: flex;
  justify-content: center;
  color: black;
  padding: 15px;
}

.search-bar input {
  font-family: "Raleway", sans-serif;
  flex: 1;
  border: none;
  padding: 10px;
}

.search-bar input::placeholder {
  color: #000;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  line-height: 100%;
}

.search-button {
  background: #0065fc;
  color: #fff;
  border: none;
  height: 49px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 15px 16px 15px 16px;
  gap: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
}

.search-button-mobile {
  display: none;
}

/*FILTRES*/

.filters {
  display: flex;
  align-items: center;
  gap: 5px;
  flex-wrap: wrap;
  margin-bottom: 10px;
  padding-top: 18px;
  color: #000000;
  width: 758px;
}

.filters h3 {
  margin-right: 10px;
  font-size: 18px;
  line-height: 100%;
}

.filters button {
  height: 50px;
  border: 2px solid #ddd;
  background: #fff;
  padding: 4px 19px 4px 19px;
  border-radius: 25px;
  font-size: 17px;
  font-weight: 700;
}

.filters button:hover {
  background: #eef4ff;
  border-color: #0065fc;
}

.info {
  align-items: center;
  display: flex;
  font-size: 15px;
  font-weight: 400;
  color: #666;
  gap: 10px;
}

.icon-info {
  color: blue;
  /* Couleur de l’icône */
  background-color: white;
  /* Fond blanc */
  border: 1px solid grey;
  /* Bordure grise */
  border-radius: 50%;
  /* Cercle parfait */
  display: inline-flex;
  align-items: center;
  /* Centre verticalement */
  justify-content: center;
  /* Centre horizontalement */
  width: 20px;
  /* Largeur du cercle */
  height: 20px;
  /* Hauteur du cercle */
  font-size: 12px;
  /* Taille de l’icône */
  line-height: 1;
  /* Important pour centrer l’icône */
  box-sizing: border-box;
  padding: 0;
  /* Supprime l’espace interne */
}

.logo {
  width: 61.08px;
  /* largeur du logo */
  height: auto;
  /* conserve les proportions */
}

:root {
  --main-color: #0065fc;
  --main-bg-color: #f2f2f2;
  --filter-bg-color: #deebff;
}

.fa-solid {
  color: var(--main-color);
}

a {
  color: inherit;
  text-decoration: none;
}

.section-title {
  margin: 0;
  font-size: 22px;
}

.card {
  background-color: white;
  border-radius: 20px;
  padding: 5px;
  filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
  object-fit: cover;
}

.card-title {
  font-size: 16px;
}

.euro {
  font-weight: 700;
}

.neutral-star {
  color: var(--main-bg-color);
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /* ... */
}
